<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.fichero.macos-cups</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Printers/FicheroMacOS/fichero-drain.sh</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/var/spool/cups/tmp/fichero</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>1</integer>
	<key>StandardOutPath</key>
	<string>/tmp/fichero-rfcomm.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/fichero-rfcomm.log</string>
</dict>
</plist>
